.font1 {
    font-family: 'Helvetica Neue', sans-serif;
}

.font2 {
    font-family: 'Baskerville', serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
    margin-top: 5rem; /* Add generous spacing between sections */
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
}

p {
    text-align: justify;
    font-family: 'Baskerville', serif;
    max-width: 80%;
    font-size: 1.5rem;
}

.title {
    padding-top: 5rem;
    background-color: white;
    color: black;
    padding-bottom: 5rem;
}

.credits {
    padding-bottom: 5rem;
}

.Chap1T {
    background-color: black;
    color: white;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap1 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

.Chap1 {
    background-color: black;
    color: white;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 5rem;
}

.Chap2T {
    background-color: rgb(0, 0, 67);
    color: rgb(233, 173, 8);
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap2 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

.Chap2 {
    background-color: navy;
    color: gold;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap2T */
    padding-bottom: 5rem;
}

.Chap3T {
    background-color: rgb(143, 10, 36);
    color: #f7f6ee;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap3 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

.Chap3 {
    background-color: crimson;
    color: #f7f6ee;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap3T */
    padding-bottom: 5rem;
}

.Chap4T {
    background-color: rgb(111, 155, 111);
    color: #f7f6ee;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap4 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

.Chap4 {
    background-color: sagegreen;
    color: #f7f6ee;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap4T */
    padding-bottom: 5rem;
}

.Chap5T {
    background-color: white;
    color: black;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

.Chap5 {
    background-color: white;
    color: black;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5T */
    padding-bottom: 5rem;
}

.Tnotes {
    background-color: white;
    color: black;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */

.notes {
    background-color: white;
    color: black;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Tnotes */
    padding-bottom: 5rem;
}
