.font1 {
    font-family: 'Helvetica Neue', sans-serif;
}

.font2 {
    font-family: 'Baskerville', serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 25rem;
}

h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 25rem;
}

p {
    text-align: justify;
    font-family: 'Baskerville', serif;
    max-width: 80%;
    font-size: 1.5rem;
    margin-top: 9rem;
    margin-left: 5%;
}

.title {
    padding-top: 5rem;
    background-color: white;
    color: black;
    padding-bottom: 5rem;
}

.credits {
    padding-bottom: 5rem;
}

/* Specific selectors for sections with IDs */
#Chap1T {
    background-color: black;
    color: white;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap1 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    order: -1;
}

#Chap1 {
    background-color: black;
    color: white;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    order: 1;
    text-align: center;
    margin-left: 5%; /* Adjusted margin from the left edge */
}

#Chap2T {
    background-color: rgb(0, 0, 67);
    color: rgb(233, 173, 8);
    padding-top: 15rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap2 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    order: -1;
}

#Chap2 {
    background-color: rgb(0, 0, 67);
    color: rgb(233, 173, 8);
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap2T */
    padding-bottom: 15rem;
    order: 1;
    text-align: center;
    margin-left: 5%; /* Adjusted margin from the left edge */
}

/* Add similar adjustments for other sections */


#Chap3T {
    background-color: rgb(143, 10, 36);
    color: #f7f6ee;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap3 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

#Chap3 {
    background-color:rgb(143, 10, 36);
    color: #f7f6ee;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap3T */
    padding-bottom: 5rem;
    text-align: center;
    margin-left: 5%;
}

#Chap4T {
    background-color: rgb(111, 155, 111);
    color: #f7f6ee;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap4 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

#Chap4 {
    background-color: rgb(111, 155, 111);
    color: #f7f6ee;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap4T */
    padding-bottom: 5rem;
    text-align: center;
    margin-left: 5%;
}

#Chap5T {
    background-color: white;
    color: black;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

#Chap5 {
    background-color: white;
    color: black;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5T */
    padding-bottom: 5rem;
    text-align: center;
    margin-left: 5%;
}

#Tnotes {
    background-color: white;
    color: black;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
}

#notes {
    background-color: white;
    color: black;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Tnotes */
    padding-bottom: 5rem;
    text-align: center;
        margin-left: 5%;
}


/* at this point, I need to figure out how to remove that pesky white padding around the left and bottom parts of each section with the section's corresponding colour.
/* let's get the js working too.