.font1 {
    font-family: 'Helvetica Neue', sans-serif;
}

.font2 {
    font-family: 'Baskerville', serif;
}

#titleAudio {
    display: none; /* Hide the audio player initially */
}

#Chap1Audio {
    display: none; /* Hide the audio player initially */
}

#Chap2Audio {
    display: none; /* Hide the audio player initially */
}

#Chap3Audio {
    display: none; /* Hide the audio player initially */
}

#Chap4Audio {
    display: none; /* Hide the audio player initially */
}

#Chap5Audio {
    display: none; /* Hide the audio player initially */
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 25rem;
}

h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 25rem;
}

#scrollArrow {
    text-align: center;
    font-family: 'Baskerville', serif;
    max-width: 80%;
    font-size: 2.5rem;
    line-height: 3.8rem;
    margin-left: 9%;
    margin-right: -9%;
    color: black;
}
p {
    text-align: justify;
    font-family: 'Baskerville', serif;
    max-width: 80%;
    font-size: 2.5rem;
    line-height: 3.8rem;
    margin-top: 9rem;
    margin-left: 5%;
}

.title {
    color: rgb(0, 0, 0);
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 18%;
    margin-right: -9%;
    padding-top: 25rem; /* Adjusted top padding */
}

.credits {
    margin-top: 10rem;
    padding-bottom: 15rem;
}

/* Specific selectors for sections with IDs */
#Chap1T {
    color: white;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 18%;
    margin-right: -9%;
}

#Chap1 {
    color: white;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 9%;
    margin-right: -9%;
}

#Chap2T {
    color: rgb(233, 173, 8);
    padding-top: 15rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap2 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    padding-left: 18%;
    margin-left: -9%;
    padding-right: 18%;
    margin-right: -9%;
    order: -1;
}

#Chap2 {
    color: rgb(233, 173, 8);
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 9%;
    margin-right: -9%;
}

/* Add similar adjustments for other sections */


#Chap3T {
    color: #f7f6ee;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap3 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    padding-left: 18%;
    margin-left: -9%;
    padding-right: 18%;
    margin-right: -9%;
}

#Chap3 {
    color: #f7f6ee;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 9%;
    margin-right: -9%;
}

#Chap4T {
    color: #f7f6ee;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    padding-left: 18%;
    margin-left: -9%;
    padding-right: 18%;
    margin-right: -9%;
}

#Chap4 {
    color: #f7f6ee;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 9%;
    margin-right: -9%;
}

#Chap5T {
    color: black;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    padding-left: 18%;
    margin-left: -9%;
    padding-right: 18%;
    margin-right: -9%;
}

#Chap5 {
    color: black;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 9%;
    margin-right: -9%;
}

#Tnotes {
    color: black;
    padding-top: 5rem;
    margin-top: 5rem; /* Adjusted margin to prevent overlap with Chap5 */
    padding-bottom: 15rem; /* Add more space at the bottom for scrolling */
    padding-left: 18%;
    margin-left: -9%;
    padding-right: 18%;
    margin-right: -9%;
}

#notes {
    color: black;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    padding-left: 18%;
    margin-left: -9%; /* Adjusted margin from the left edge */
    padding-right: 9%;
    margin-right: -9%;
}

#fin {
    background-color: white;
    color: black;
    margin-top: 10rem;
    padding-top: 5rem; /* Adjusted margin to prevent overlap with Chap1T */
    padding-bottom: 15rem;
    margin-bottom: -5rem;
    order: 1;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#BCOA {
    display: block;
    margin: auto;
    padding-top: 5rem;
    width: 20rem;
}


#parallax-container1 {
    position: relative;
    width: 118vh; /* Adjust width as needed */
    height: 500px; /* Adjust as needed */
    margin-left: 7rem; /* Hide overflowing content */
    align-items: center;
}

#i2B, #i2M, #i2F {
    position: absolute;
    margin-top: -10rem;
    top: 0;
    left: 0;
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
    opacity: 0;
    transition: opacity 0.5s;
}

#i2M {
    z-index: 1;
}

#i2F {
    z-index: 2;
}

#parallax-container2 {
    position: relative;
    width: 110vh; /* Adjust width as needed */
    height: 550px; /* Adjust as needed */
    margin-left: 9rem; /* Hide overflowing content */
    align-items: center;
}

#i3B, #i3F {
    position: absolute;
    margin-top: 0rem;
    top: 0;
    left: 0;
    width: 100%; /* Make images fill the container */
    height: auto; /* Maintain aspect ratio */
    opacity: 0;
    transition: opacity 0.5s;
}

#i3F {
    z-index: 1;
    height: 44rem;
}

#parallax-container3 {
    position: relative;
    width: 70vh; /* Adjust width as needed */
    height: 550px; /* Adjust as needed */
    margin-left: 9rem; /* Hide overflowing content */
    align-items: center;
}

#i4B {
    position: absolute;
    margin-top: 5rem;
    top: 0;
    left: 0;
    width: 40rem; /* Make images fill the container */
    height: 40rem; /* Maintain aspect ratio */
    opacity: 0;
    transition: opacity 0.5s;
}

#i4F {
    z-index: 1;
    position: absolute;
    margin-top: 5rem;
    top: 0;
    left: 0;
    width: 40rem; /* Make images fill the container */
    height: 40rem; /* Maintain aspect ratio */
    opacity: 0;
    transition: opacity 0.5s;
}
